<template name="navbar">
	<h3 class="masthead-brand">Exodus Gaming Network</h3>
	          <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">CMS</a>
                <a class="nav-link" href="#">Forums</a>
              </nav>
	<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">-->
	<!--	<a class="navbar-brand" href="/">Exodus Gaming Network</a> <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>-->
		<!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
		<!--	<ul class="navbar-nav mr-auto">-->
		<!--		<li class="nav-item">-->
		<!--			<a class="nav-link" href="http://egnhq.com">Home</a>-->
		<!--		</li>-->
		<!--		<li class="nav-item">-->
		<!--			<a class="nav-link" href="/">Background Checker</a>-->
		<!--		</li>-->
		<!--		<li class="nav-item">-->
		<!--			<a class="nav-link" href="http://cms.egnhq.com">CMS</a>-->
		<!--		</li>-->
		<!--		<li class="nav-item">-->
		<!--			<a class="nav-link" href="http://forums.egnhq.com">Forums</a>-->
		<!--		</li>-->
		<!--	</ul>-->
		<!--</div>-->
	<!--</nav>-->
</template>