<template name="search">
 <div class="col-md-12 justify-content-center">
      <div class="card text-center">
         <div class="card-header">Search Friends List</div>
         <div class="card-block">
             <div class="card-body">
            <h4 class="card-title">Look up a Gamertags Friends </h4>	
            <form class="input-group" id="search">
              
               <input class="form-control" type="text" id="searchFriends" name="gt_name" placeholder="Gamertag">
               <span class="input-group-btn">
                  <button class="btn btn-danger btn-block" type="submit" id="searchGo" style="cursor:pointer;">Search</button>
               </span>
            </form>
            </div>
         </div>
      </div>
   </div>
</template>